/* @import "tailwindcss/preflight";
@import "tailwindcss/utilities"; */

/* ↓ 커스텀 유틸리티는 이 아래에 작성 */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Pretendard-Regular";
  background-color: var(--gray-800);
  color: var(--gray-50);
}

.absolute-center {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}

.flex-center {
  @apply flex items-center justify-center;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* 컬러 변수 */

:root {
  --primary-500: #19175c;
  --primary-400: #4654c0;
  --primary-300: #5865f2;
  --primary-200: #4752c4;
  --primary-100: #949cf7;
  --primary-0: #efeff0;

  --gray-800: #121214;
  --gray-700: #1a1a1e;
  --gray-600: #202024;
  --gray-500: #2e3035;
  --gray-400: #393c43;
  --gray-300: #7c7c84;
  --gray-200: #94949c;
  --gray-100: #aeaeb3;
  --gray-50: #cdcdcd;
  --gray-0: #efeff0;

  --system-success: #00df80;
  --system-failed: #f0424b;
}
